 .container{
   display:flex;
   justify-content: flex-start;

 }
.bodycontainer{
  /* display: flex;
  justify-content: space-around; */
  
  width:80%;
  height: auto;
  /* padding: 2rem; */
  border: 0.1rem solid  #37474F;
}
.header{
  background-color:#607D8B;
  margin-top:0rem;
  height: 5rem;
}

.sidebaar{
  background-color: #78909C;
  height: 25rem;
  border: 0.1rem solid #37474F;
}
#addedpettext{
  text-align: center;
  margin-top: 10rem;
}

#addedpetlink{
  text-align: center;
  margin-top: 10rem;
}
#addpettext{
  text-align: right;
}
#link{
  margin-right: 1rem;
}
#petadoptiontext{
  text-align: center;
  margin-top: 2rem;
}
.form-tag{
  text-align: center;

}
.savetext{
  text-align: center;
}
#addimagetext{
  text-align: center;
}
.table{
  
  border:0.1rem solid black; 
  margin-left: 13rem;
}
.tr{
  background-color: aqua;
  text-align: center;
}
.td{
  border: 1px solid black;
}
.edt-dlt-btn{
  background-color: aqua;
  
}
#pet-details{
  text-align: center;
}
#choseimagetext{
  text-align: end;
}
.btn{
  text-align: center;
  border: 0.1rem solid black;
  border-radius: 0.2rem;
  margin-left:17rem;
  background-color: wheat;
  width: 15rem
  
}
.inputfields{
  background-color: wheat;
  border: 0.1rem solid black;
  border-radius: 0.2rem;
  text-align: center;
  
  width: 15rem;
  margin-left: 5rem;
}
.lable{
  text-align:center;
  margin-left: 0rem;
  
}
#pagalbtn{
  text-align: center;
}